@theme "purify"

configuration {
	modi: "drun,window,run,ssh";
	width: 50;
	lines: 10;
	columns: 1;
	font: "Source Code Pro Medium 26";
	bw: 2;
	padding: 10;
	show-icons: false;
	sort: true;
	levenshtein-sort: true;
	case-sensitive: true;
	combi-modi: "drun,window";
	matching: "fuzzy";
/*	line-margin: 2;*/
/*	line-padding: 1;*/
	hide-scrollbar: true;
	display-combi: ":";
}
